body {
  margin: 20px;
}

/* ========== Header =========== */


.header {
  padding: 20px;
  text-align: center; 
}

.header h1 {
  border: 1px solid black;
  padding: 20px;
  height: 60px;
}

/* ========== Body =========== */

.container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.container div {
  background-color: white;
  border: 1px solid black;
  margin: 20px;
}

.satu {
  margin-top: 20px;
  height: 400px;
  width: 1700px;
}

.dua {
  height: 400px;
  width: 300px;
}

/* ========== Footer ========= */

.footer {
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer div {
  background-color: white;
  border: 1px solid black;
  margin: 20px;
}

.pertama {
  height: 80px;
  width: 700px;
}

.kedua {
  height: 80px;
  width: 700px;
}

.ketiga {
  height: 80px;
  width: 700px;
}

